<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.96.0" targetFramework="net452" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net452" requireReinstallation="true" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net472" />
  <package id="mCustomScrollbar.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net452" />
</packages>